/*utils_variables*/
/*common_reset*/
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  padding: 0;
  border: 0;
}

/*common_other*/
body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.714;
  /*24px*/
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  outline: 1px solid red;
}

.container {
  max-width: 480px;
  padding: 0px 15px;
  margin: 0 auto;
  outline: 1px solid orange;
}

.our-features__title,
.team-card__title,
.contact-form__title,
.portfolio-card__title {
  color: #212121;
}

@media screen and (min-width: 1600px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .container {
    max-width: 1200px;
  }
  .list-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .input:hover,
  .comment:hover,
  .email:hover {
    cursor: pointer;
  }
  .social-icons__list:not(:first-child) {
    margin-left: 10px;
  }
}

/*common_animation*/
/*utils_placeholders*/
/*all*/
.header-brand, .footer-brand {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
}

.upper-line__container, .cap__container, .our-features__box, .portfolio__container, .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-form__btn, .cap__order-btn, .contact-form__send-btn {
  cursor: pointer;
  font-size: 16px;
  background-color: #2196f3;
  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe-form__btn:focus, .cap__order-btn:focus, .contact-form__send-btn:focus, .subscribe-form__btn:hover, .cap__order-btn:hover, .contact-form__send-btn:hover {
  background-color: #188ce8;
}

.our-features__title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.172;
  font-size: 14px;
}

.our-team__first-title {
  color: #212121;
  font-size: 28px;
  line-height: 1.172;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

/*max-width: $mobile-max*/
@media screen and (max-width: 767px) {
  .mobile-menu__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    cursor: pointer;
  }
}

/*min-width: $desktop*/
@media screen and (min-width: 1600px) {
  .subscribe-form__email:focus, .form-field__input:focus, .form-field__comment:focus,
  .company-label:hover,
  .company-label:focus {
    border-color: #2196f3;
    outline: none;
  }
  .subscribe-form__email:focus::-webkit-input-placeholder, .form-field__comment:focus::-webkit-input-placeholder {
    color: #2196f3;
  }
  .subscribe-form__email:focus:-ms-input-placeholder, .form-field__comment:focus:-ms-input-placeholder {
    color: #2196f3;
  }
  .subscribe-form__email:focus::-ms-input-placeholder, .form-field__comment:focus::-ms-input-placeholder {
    color: #2196f3;
  }
  .subscribe-form__email:focus::placeholder, .form-field__comment:focus::placeholder {
    color: #2196f3;
  }
  .upper-line__link:focus, .footer__link:focus, .upper-line__link:hover, .footer__link:hover {
    color: #2196f3;
  }
  .social-icons__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
  }
  .social-icons__icon:hover, .social-icons__icon:focus {
    background-color: #2196f3;
  }
  .social-container__title, .subscribe-form__title {
    color: #ffffff;
    margin-bottom: 20px;
  }
  .form-field__input, .form-field__comment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    position: relative;
    display: block;
  }
  /*Animation placeholders*/
  .upper-line__link, .footer__link, .subscribe-form__email::-webkit-input-placeholder, .form-field__comment::-webkit-input-placeholder {
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .upper-line__link, .footer__link, .subscribe-form__email:-ms-input-placeholder, .form-field__comment:-ms-input-placeholder {
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .upper-line__link, .footer__link, .subscribe-form__email::-ms-input-placeholder, .form-field__comment::-ms-input-placeholder {
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .upper-line__link, .footer__link, .subscribe-form__email::placeholder, .form-field__comment::placeholder {
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .cap__order-btn, .social-icons__icon, .subscribe-form__btn, .contact-form__send-btn {
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .company-label, .subscribe-form__email, .form-field__input, .form-field__comment {
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-card__social-icon, .company-label__icon, .contact-form__close-icon, .form-field__form-icon, .check-block__checked-icon, .check-block__unchecked-icon {
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-card {
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .filters__filter-btn {
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .overlay {
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop {
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*header_upper-line*/
.mobile-menu__btn {
  display: none;
}

.header-brand__color-one {
  color: #2196f3;
}

.header-brand__color-two {
  color: #000000;
}

.upper-line__container {
  position: relative;
  min-height: 60px;
}

@media screen and (max-width: 767px) {
  .upper-line__list-box, .upper-line__nav-links {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  .upper-line {
    border-bottom: 1px solid #ececec;
    padding: 25px 0;
  }
  .upper-line__nav-links {
    margin-left: 93px;
  }
  .upper-line__list-box {
    margin-left: auto;
  }
  .upper-line__list {
    letter-spacing: 0.02em;
    line-height: 1.172;
    font-weight: 500;
  }
  .upper-line__list--nav {
    color: #212121;
  }
  .upper-line__list--contacts {
    color: #757575;
  }
  .upper-line__list:not(:first-child) {
    margin-left: 50px;
  }
  .upper-line__active-page {
    position: relative;
    color: #2196f3;
  }
  .upper-line__active-page::after {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #2196f3;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    bottom: -33px;
    left: 0;
  }
  .upper-line__email-icon, .upper-line__phone-icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

/*header_mobile-menu*/
@media screen and (min-width: 768px) {
  .mobile-menu__open {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu__btn {
    display: block;
  }
  .mobile-menu__icon {
    fill: #212121;
  }
  .mobile-menu__btn:hover .mobile-menu__icon,
  .mobile-menu__btn:focus .mobile-menu__icon {
    fill: #2196f3;
  }
  .mobile-menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    letter-spacing: 0.02em;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    background-color: #ffffff;
    z-index: 999;
    -webkit-transform: translatey(-100%);
            transform: translatey(-100%);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }
  .mobile-menu__container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navigation__list:not(:last-child) {
    margin-bottom: 32px;
  }
  .navigation__link {
    color: #212121;
    font-size: 40px;
    line-height: 1.175;
  }
  .navigation__active-page {
    color: #2196f3;
  }
  .mobile-menu__contacts {
    margin-top: auto;
    outline: 1px solid blue;
  }
  .mobile-menu__list:first-child {
    margin-bottom: 32px;
  }
  .mobile-menu__list:last-child {
    margin-bottom: 64px;
  }
  .mobile-menu__phone {
    color: #2196f3;
    font-size: 34px;
    line-height: 1.175;
  }
  .mobile-menu__mail {
    font-size: 24px;
    line-height: 1.167;
  }
  .social-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .social-menu__link {
    font-size: 18px;
    line-height: 1.22;
    color: #2196f3;
  }
  .social-menu__list:not(:last-child) {
    margin-right: 20px;
    position: relative;
  }
  .social-menu__list:not(:last-child)::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 0px;
    bottom: 0;
    right: 10;
    border: 1px solid rgba(33, 33, 33, 0.2);
    -webkit-transform: rotate(90deg) translateX(-50%);
            transform: rotate(90deg) translateX(-50%);
  }
}

/*footer-adress*/
.footer-brand__color-one {
  color: #2196f3;
}

.footer-brand__color-two {
  color: #ffffff;
}

@media screen and (min-width: 1600px) {
  .footer {
    padding: 60px 0;
    background-color: #2f303a;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .address {
    margin-top: 20px;
    width: 231px;
  }
  .address__text {
    color: #ffffff;
    font-style: normal;
  }
  .address__list-box {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
  }
  .address__list {
    margin-top: 9px;
  }
}

/*footer_social*/
@media screen and (min-width: 1600px) {
  .social-container {
    width: 206px;
    height: 80px;
    margin: 15px 93px 0px 70px;
  }
  .social-container__icon {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .social-container__social-icon {
    fill: #ffffff;
  }
}

/*footer_subscribe*/
@media screen and (min-width: 1600px) {
  .subscribe-form {
    width: 570px;
    height: 86px;
    margin-top: 15px;
    background-color: #2f303a;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .subscribe-form__btn {
    display: block;
    position: relative;
    margin-left: 12px;
    height: 50px;
    padding: 10px 62px 10px 29px;
  }
  .subscribe-form__subscribe-img {
    position: absolute;
    border-radius: 1px;
    top: 13px;
    right: 28px;
  }
  .subscribe-form__email {
    padding: 0 0 0 16px;
    color: #ffffff;
    font-size: 16px;
    width: 358px;
    height: 50px;
    line-height: 1.25;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    margin-top: 20px;
  }
  .subscribe-form__email::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe-form__email:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe-form__email::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe-form__email::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

/*index_cap*/
.cap {
  padding: 118px 0px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/cap-bg-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/cap-bg-img.jpg);
  background-color: #2f303a;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.cap__title {
  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}

.cap__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cap__order-btn {
  padding: 10px 32px;
}

@media screen and (min-width: 1600px) {
  .cap {
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/cap-bg-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/cap-bg-img.jpg);
    max-width: 1600px;
  }
  .cap__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.364;
  }
}

/*index_features*/
.our-features__container {
  outline: 1px solid blue;
  width: 100%;
}

.our-features__box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  height: 120px;
}

.our-features__title {
  margin-bottom: 10px;
  text-align: center;
}

.our-features__feature {
  outline: 1px solid green;
}

.our-features__feature:not(:first-child) {
  margin-top: 30px;
}

@media screen and (min-width: 1600px) {
  .our-features__list {
    width: 270px;
  }
  .our-features__box {
    display: block;
    margin-bottom: 30px;
    padding: 25px 100px;
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
  }
  .our-features__title {
    margin-bottom: 10px;
  }
  .our-features__feature:not(:first-child) {
    margin-left: 30px;
  }
}

/*index_our-works*/
@media screen and (max-width: 767px) {
  .our-works {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  .our-works--geometry {
    padding-top: 0px;
  }
  .our-works__work:not(:first-child) {
    margin-left: 30px;
  }
  .our-works__label {
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 0px;
    text-align: center;
  }
  .our-works__title {
    text-transform: uppercase;
    color: #ffffff;
  }
  .our-works__work {
    position: relative;
  }
}

/*index_our-team*/
.our-team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 1600px) {
  .team-cards__card {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .team-cards__card:not(:first-child) {
    margin-left: 30px;
  }
  .team-card {
    padding: 30px 0;
  }
  .team-card__social-icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 16px;
  }
  .team-card__social-icon {
    fill: #afb1b8;
  }
  .social-icons__list:hover .team-card__social-icon,
  .social-icons__list:focus .team-card__social-icon {
    fill: #ffffff;
  }
  .team-card__title, .team-card__profession {
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
  }
  .team-card__title {
    margin-bottom: 10px;
  }
}

/*index_reg-customers*/
@media screen and (min-width: 1600px) {
  .reg-customers__cards {
    margin-left: -30px;
  }
  .reg-customers__card {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
  }
  .company-label {
    display: block;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 16px 32px;
  }
  .company-label__icon {
    fill: #afb1b8;
  }
  .company-label:hover .company-label__icon, .company-label:focus .company-label__icon {
    fill: #2196f3;
  }
}

/*index_backdrop*/
.contact-form__send-btn {
  padding: 10px 55px 10px 56px;
}

@media screen and (min-width: 1600px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  .backdrop--is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .contact-form {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 528px;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-form__close-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  .contact-form__title {
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
  }
  .contact-form__close-icon {
    fill: #212121;
  }
  .contact-form__close-btn:hover .contact-form__close-icon,
  .contact-form__close-btn:focus .contact-form__close-icon {
    fill: #2196f3;
  }
  .form-field__caption {
    display: block;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
  }
  .form-field__input {
    width: 448px;
    height: 40px;
    padding: 0 0 0 42px;
  }
  .form-field--name, .form-field--phone, .form-field--mail {
    position: relative;
    margin-bottom: 10px;
  }
  .form-field__form-icon {
    left: 12px;
    bottom: 11px;
    position: absolute;
    z-index: 2;
  }
  .form-field:focus-within .form-field__form-icon {
    fill: #2196f3;
  }
  .form-field--comment {
    margin-bottom: 20px;
  }
  .form-field__comment {
    width: 448px;
    height: 120px;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.01em;
    margin: 0;
    padding: 12px 16px;
    resize: none;
  }
  .form-field__comment::-webkit-input-placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  .form-field__comment:-ms-input-placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  .form-field__comment::-ms-input-placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  .form-field__comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  .check-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin-bottom: 30px;
  }
  .check-block__agreement {
    line-height: 1.714;
    padding-left: 23px;
  }
  .check-block__agreement:hover {
    cursor: pointer;
  }
  .check-block__agreement-link {
    color: #2196f3;
  }
  .check-block__checked-icon, .check-block__unchecked-icon {
    left: 0px;
    top: 4px;
    position: absolute;
    pointer-events: none;
  }
  .check-block__checkbox:checked ~ .check-block__checked-icon, .check-block__checkbox:checked ~ .check-block__unchecked-icon {
    fill: #2196f3;
  }
  .check-block__checked-icon {
    fill: white;
  }
  .check-block__unchecked-icon {
    fill: #212121;
    z-index: 1;
  }
  .check-block__checkbox:hover ~ .check-block__unchecked-icon,
  .check-block__checkbox:focus ~ .check-block__unchecked-icon {
    fill: #188ce8;
  }
}

/*portfolio_filters*/
.filters--geometry {
  margin-bottom: 50px;
}

.filters__list:not(:first-child) {
  margin-left: 8px;
}

.filters__filter-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  height: 38px;
  line-height: 1.625;
  background-color: #f5f4fa;
  border-style: none;
  border-radius: 4px;
}

.filters__filter-btn--active, .filters__filter-btn:hover, .filters__filter-btn:focus {
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*portfolio_cards*/
.portfolio__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-cards {
  margin-top: -30px;
  margin-left: -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-cards__list {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio-card {
  display: block;
}

.portfolio-card__image-box {
  position: relative;
  overflow: hidden;
}

.portfolio-card__info {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
  display: block;
}

.portfolio-card__title {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.portfolio-card__type {
  font-size: 16px;
  line-height: 1.875;
}

.portfolio-card:focus, .portfolio-card:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  opacity: 0;
  bottom: -100%;
  pointer-events: none;
}

.overlay__text {
  padding: 0 24px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.556;
}

.portfolio-card:hover .overlay,
.portfolio-card:focus .overlay {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
/*# sourceMappingURL=main.css.map */