/*footer-adress*/
.footer {
  padding: 60px 0;
  background-color: $ter-section-bgc;

  &__container {
    display: flex;
  }

  &__link {
    @extend %focus_hover;
  }
}

.footer-brand {
  @extend %brand;
  &__color-one {
    color: $pri-brand;
  }
  &__color-two {
    color: $ter-brand;
  }
}

.address {
  margin-top: 20px;
  width: 231px;

  &__text {
    color: $ft-text;
    font-style: normal;
  }

  &__list-box {
    color: $footer-contacts;
    font-style: normal;
  }

  &__list {
    margin-top: 9px;
  }
}
