/*utils_placeholders*/
/*all*/
%brand {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 24px;
  line-height: 1.167;

   @media screen and (min-width: $desktop){
      font-size: 26px;
      line-height: 1.192
    }
}

%mobile-flex {
  display: flex;
  align-items: center;
}

%hero-btn{
  cursor: pointer;
  font-size: 16px;
  background-color: $accent;
  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $hero-text;

  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &:focus,
  &:hover {
    background-color: $btn-hover;
  }
}

  %up-case-title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.172;
    font-size: 14px; 

  }
  
  %first-title {
    color: $pri-title;
    font-size: 28px;
    line-height: 1.172;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop){
      font-size: 36px;
      margin-bottom: 50px;
    }
  }

    %icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;

    &:hover,
    &:focus {
      background-color: $accent;
    }
  }
  
  %form-input-focus,
  %border-focus {
    border-color: $accent;
    outline: none;
  }
  
  %placeholder-onfocus {
      color: $accent;
  }

  
  
  %footer-title {
    color: $ft-text;
    margin-bottom: 20px;
  }

  /*max-width: $mobile-max*/
  @media screen and (max-width: $mobile-max){
    %mobile-menu-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      background-color: transparent;
      cursor: pointer;
    }
  }

/*min-width: $desktop*/
@media screen and (min-width: $tablet){
  %flex-align {
  display: flex;
  align-items: center;
}




  %focus_hover {
    &:focus,
    &:hover {
      color: $accent; 
    }
  }

  // %first-title {
  //   color: $pri-title;
  //   font-size: 36px;
  //   line-height: 1.172;
  //   font-weight: 700;
  //   text-align: center;
  //   margin-bottom: 50px;
  // }


  %modal-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    position: relative;
    display: block;
  }

  /*Animation placeholders*/
  %color{
    transition: color $anim-time $anim-func;
  }

  %background-color {
    transition: background-color $anim-time $anim-func;
  }

  %border-color {
    transition: border-color $anim-time $anim-func;
  }

  %fill {
    transition: fill $anim-time $anim-func;
  }

  %box-shadow {
    transition: box-shadow $anim-time $anim-func;
  }

  %filter-btn-anim {
    transition: background-color $anim-time $anim-func, color $anim-time $anim-func, box-shadow $anim-time $anim-func;
  }

  %overlay {
    transition: opacity $anim-time $anim-func, transform $anim-time $anim-func;
  }

  %backdrop {
    transition: opacity $anim-time $anim-func, visibility $anim-time $anim-func;
  }
}