  /*utils_variables*/
  $body-bgc: #ffffff;      // Колір фону тіла сайту
  $pri-text: #757575;      // Основний колір тексту 
  $pri-title: #212121;     // Основний колір заголовків 
  $pri-link: #212121;      // Основний колір посилань
  $pri-btn-text: #212121;  // Основний колір тексту кнопок 
  $sec-btn-text: #ffffff;  // Вторинний колір тексту кнопок 
  $btn-bgc: #f5f4fa;       // Основний колір фону кнопок 
  $pri-brand: #2196f3;     // Основний колір бренду (лого) 
  $accent: #2196f3;        // колір акценту (виділення посилань і кнопок)
  $btn-hover: #188ce8;     // Колір ховера для кнопки героя
  $sec-brand: #000000;     // вторинний колір бренду (лого шапка) 
  $ter-brand: #ffffff;     // Третинний колір бренду (лого футер) 
  $pri-section-bgc: #ffffff; // Основний колір фону секцій
  $sec-section-bgc: #f5f4fa; // Вторинний колір фону секцій 
  $ter-section-bgc: #2f303a; // третинний колір фону секцій (шапка і футер) 
  $hero-text: #ffffff;     // Колір тексту героя */
  $ft-text: #ffffff;       // Колір тексту адреси у футері
  $footer-contacts: rgba(255, 255, 255, 0.6); //колір контактів в підвалі 
  $pri-svg : #afb1b8 ; // Оссновний колір іконок
  $anim-func: cubic-bezier(0.4, 0, 0.2, 1);
  $anim-time: 250ms;

  $main-font: 'Roboto';
  $secondary-font: 'Raleway';
// View ports
$mobile-min: 320px;
$mobile: 480px;
$mobile-max: 767px;
$tablet: 768px;
$tablet-max: 1199px;
$desktop: 1200px;