/*index_features*/

  .our-features {
    &__container {
      outline: 1px solid blue;
      width: 100%;
    }

    &__box {
      @extend %flex-align;
      justify-content: center;
      margin-bottom: 30px;

      background-color: $sec-section-bgc;

      height: 120px;
    }
    &__title {
      margin-bottom: 10px;
      @extend %up-case-title;
      text-align: center;
    }

    &__feature {
      outline: 1px solid green;
      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }

@media screen and (min-width: $desktop) {
  .our-features {
    &__list {
      width: 270px;
    }

    &__box {
      display: block;
      margin-bottom: 30px;
      padding: 25px 100px;
      background-color: $sec-section-bgc;
      width: 270px;
      height: 120px;
    }
    &__title {
      margin-bottom: 10px;
      // @extend %up-case-title;
    }

    &__feature {
      &:not(:first-child) {
        margin-left: 30px;
      }
    }
  }
}