/*index_reg-customers*/
.reg-customers {
  &__cards {
    margin-left: -30px;
  }
  &__card {
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
  }
  &__first-title {
    @extend %first-title;
  }
}

.company-label {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  
  &__icon {
    fill: #afb1b8;
  }

  &:hover,
  &:focus {
    @extend %border-focus;

    .company-label__icon {
      fill: $accent;
    }
  }
}
